@charset "utf-8";
/* CSS Document */

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	color: #8C8C8C;
	margin: 0px;
	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	text-decoration: none;
	}
a:link{
	color: #8C8C8C;
	text-decoration: none;
	}
a:visited{
	color: #8C8C8C;
	text-decoration: none;
	}
a:hover{
	color: #C8C8C8;
	text-decoration: none;
	}
.text01{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
	}
.text01 a:link{
	color: #FFF;
	text-decoration: none;
	}
.text01 a:visited{
	color: #FFF;
	text-decoration: none;
	}
.text01 a:hover{
	color: #FF0;
	text-decoration: none;
	}
.text02{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #C2C2C2;
	}
.text03{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #9D9D9D;
	text-decoration: none;
	}
.text03 a:link{
	color: #9D9D9D;
	text-decoration: none;
	}
.text03 a:visited{
	color: #9D9D9D;
	text-decoration: none;
	}
.text03 a:hover{
	color: #7D6C39;
	text-decoration: none;
	}
.text04{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CE8B00;
	}
.text05{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #675C38;
	}
.text06{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #CCC;
	}
.h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #C00;
	text-decoration: none;
	}
.h1 a:link{
	color: #C00;
	text-decoration: none;
	}
.h1 a:visited{
	color: #C00;
	text-decoration: none;
	}
.h1 a:hover{
	color: #EEB54E;
	text-decoration: none;
	}
.day{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7f372b;
	}
.day2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7f6a2b;
	}
.footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5E4D2F;
	text-decoration: none;
	}
.footer a:link{
	color: #5E4D2F;
	text-decoration: underline;
	}
.footer a:visited{
	color: #5E4D2F;
	text-decoration: underline;
	}
.footer a:hover{
	color: #8D603F;
	text-decoration: underline;
	}
.page{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #957622;
	text-decoration: none;
	}
.page a:link{
	color: #957622;
	text-decoration: none;
	}
.page a:visited{
	color: #957622;
	text-decoration: none;
	}
.page a:hover{
	color: #CCC;
	text-decoration: none;
	}
.pagebar{
	color: #666;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
	line-height: 16px;
	}
.pagebar a:link{
	color: #666;
	text-decoration: none;
	border: 1px solid #333;
	margin: 0px 2px;
	padding: 1px 6px;
	float:left;
	}
.pagebar a:visited{
	color: #666;
	text-decoration: none;
	border: 1px solid #333;
	float:left;
	}
.pagebar a:hover{
	color: #881717;
	text-decoration: none;
	border: 1px solid #881717;
	float:left;
	}
	
.pagebar a:active{
	color: #881717;
	text-decoration: none;
	border: 1px solid #881717;
	float:left;
}
.pagebar2{
	color: #7D0000;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
	line-height: 16px;
}
.pagebar2 a:link{
	color: #7D0000;
	text-decoration: none;
	border: 1px solid #7D0000;
	margin: 0px 2px;
	padding: 1px 6px;
	float:left;
}
.pagebar2 a:visited{
	color: #7D0000;
	text-decoration: none;
	border: 1px solid #7D0000;
	float:left;
}
.pagebar2 a:hover{
	color: #7D0000;
	text-decoration: none;
	border: 1px solid #7D0000;
	float:left;
}
.key{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	background-color: #1C1C1C;
	border: 1px solid #333;
	}
.menu01{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #715431;
	text-decoration: none;
	}
.menu01 a:link{
	color: #715431;
	text-decoration: none;
	}
.menu01 a:visited{
	color: #715431;
	text-decoration: none;
	}
.menu01 a:hover{
	color: #A07847;
	text-decoration: none;
	}
.menu02{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #C1A4A4;
	text-decoration: none;
	}
.menu02 a:link{
	color: #C1A4A4;
	text-decoration: none;
	}
.menu02 a:visited{
	color: #C1A4A4;
	text-decoration: none;
	}
.menu02 a:hover{
	color: #89673D;
	text-decoration: none;
	}
.link1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0;
	}
.link1 a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0;
	}
.link1 a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0;
	}
.link1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6FF;
	}
.link2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CE8B00;
    }
.link2 a:link{
	color: #CE8B00;
	text-decoration: underline;
	}
.link2 a:visited{
	color: #CE8B00;
	text-decoration: underline;
	}
.link2 a:hover{
	color: #6FF;
	text-decoration: underline;
	}
